.result {
    background-color: black;
    color: white;
    width: 217px;
    text-align: right;
}

.lines {
    display: flex;
    justify-content: left;
    gap: 3px;
    margin:0;
}

.button {
    background-color: #b3b0b0;
    width: 50px;
    text-align: center;
    border-radius: 6px;
    margin: 3px 0 0 0;
    border: 1px solid black;

}

.button_elem {
    background-color: #b3b0b0;
    width: 50px;
    text-align: center;
    border-radius: 6px;
    margin: 3px 0 0 0;
    border: 1px solid black;
}

.button-long {
    background-color: #b3b0b0;
    width: 105px;
    text-align: center;
    border-radius: 6px;
    margin: 3px 0 0 0;
    border: 1px solid black;

}